/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Tu otro CSS personalizado va aquí */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.form-row {
    display: flex;
    width: 100%; /* Asegura que la fila ocupe todo el ancho disponible */
    justify-content: stretch; /* Estira los elementos hijos para que llenen el espacio disponible */
}

.form-column {
    flex: 1; /* Cada columna ocupa una fracción igual del espacio disponible */
    padding: 10px; /* Espacio alrededor de cada columna */
}

.border-inferior-verde {
    border-bottom: 2px solid green;
}

.border-superior-verde {
    border-top: 2px solid green;
}

@media screen and (max-width: 768px) {
    .form-row {
        display: block; /* Cambia a un diseño de bloque para apilar los elementos verticalmente */
    }

    .form-column {
        flex: none; /* Deshabilita el comportamiento de flexbox */
        width: 100%; /* Hace que cada columna ocupe el ancho completo */
        padding: 10px 0; /* Ajusta el relleno para una mejor visualización en dispositivos móviles */
    }
}
